@model List<Product>

<div class="container">
    <div class="row pt-4 pb-4">
        <div class="col-6">
            <h1 class="text-primary">Product List</h1>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-primary" asp-action="Upsert" asp-controller="Product">
                <i class="bi bi-plus-circle"></i> Create New Product
            </a>
        </div>
    </div>
    <table id="tblData" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>ISBN</th>
                <th>Price</th>
                <th>Category</th>
                <th></th>
            </tr>
        </thead>
        
    </table>
</div>

@section Scripts{ 
    <script src="~/js/product.js"></script>
} 
